# Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
_dist/
/dist/
.python-version
.venv/
venv/
ENV/
*.log
*.sqlite3
instance/
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Plots and data artifacts (keep raw uploads and generated plots but not large model binaries)
flask_data_insight_api/models/
